html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: teal;
}

.purple {
  color: var(--imp-text-color) ;
}

button:focus {
  box-shadow: none !important;
}






.sticky {
  background-color: gainsboro ;
  transition: all 0.3s ease-out 0s ;
  
  backdrop-filter: blur(15px) ;
  
}

.navbar {
  position: fixed ;
  transition: all 0.3s ease-out 0s ;
  padding: 0.3rem 2rem ;
  font-size: 1.2rem ;
}

.navbar-toggler {
  position: relative ;
  background-color: transparent ;
  border-color: transparent ;
}

.navbar-toggler span {
  display: block ;
  background-color: teal ;
  height: 4px ;
  width: 27px ;
  margin-top: 5px ;
  margin-bottom: 5px ;
  transform: rotate(0deg) ;
  left: 0 ;
  opacity: 1 ;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 ;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out ;
  transition: transform 0.35s ease-in-out ;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute ;
  left: 12px ;
  top: 10px ;
  transform: rotate(135deg) ;
  opacity: 0.9 ;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px ;
  visibility: hidden ;
  background-color: transparent ;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute ;
  left: 12px ;
  top: 10px ;
  transform: rotate(-135deg) ;
  opacity: 0.9 ;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem ;
    font-size: 1.4rem ;
    background-color: #bbbbc5 ;
    
  }
  .navbar-nav .nav-item a::after {
    display: none ;
  }
}
.navbar-brand {
  color: black ;
}

.logo {
  height: 1.4em ;
  width: 2.5em ;
}

.navbar-nav .nav-link {
  color: black ;
  padding-right: 1rem ;
  padding-left: 1rem ;
}

.nav-link {
  padding: 0.8rem 1rem ;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem ;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: teal;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}


.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s; 
  animation-iteration-count: infinite;
  transform-origin: 70% 70%; 
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } 
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed ;
  background-repeat: no-repeat ;
  background-size: cover ;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px ;
}

.home-section {
  position: relative;
  z-index: -1;
  
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px ;
  padding-top: 30px;
}

.home-content {
  padding: 9rem 0 2rem ;
  color:black;
  text-align: left;
}

.heading {
  font-size: 2.4em ;
  padding-left: 50px ;
}

.heading-name {
  font-size: 2.5em ;
  padding-left: 45px ;
}

.main-name {
  color: teal;
}

.Typewriter__wrapper {
  font-size: 2.2em ;
  color: teal ;
  font-weight: 600 ;
}
.Typewriter__cursor {
  font-size: 2.4em ;
  color: teal ;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em ;
    font-weight: 500 ;
    position: absolute ;
  }
  .Typewriter__cursor {
    display: none ;
  }
}

.myAvtar {
  justify-content: center ;
  padding-top: 9em ;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em ;
    padding-bottom: 2em ;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px ;
  padding-top: 70px ;
  background-color: white;
  border-bottom: #181a27;
}

.home-about-description {
  color: black;
  padding-top: 100px ;
  padding-bottom: 20px ;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em ;
  text-align: left;
}

.home-about-social {
  text-align: center ;
  padding-top: 25px;
  color: black ;
}

.home-about-social-links {
  justify-content: center ;
  padding-top: 15px ;
  display: inline-block ;
  position: relative ;
  padding-inline-start: 0 ;
}

.home-social-icons {
  position: relative ;
  display: inline-block ;
  width: 40px ;
  height: 40px ;
  text-align: center ;
  font-size: 1.2em ;
  line-height: 2em ;
  background: teal ;
  border-radius: 50% ;
  transition: 0.5s;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #209a9e;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #209a9e;
  
}

.home-social-icons:hover {
  color: #209a9e;
  box-shadow: 0 0 5px #209a9e;
  text-shadow: 0 0 2px #209a9e;
}

.social-icons {
  display: inline-block ;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: white ;
}


.footer {
  background-color: teal;
  bottom: 0 ;
  padding-top: 10px ;
  padding-bottom: 8px ;
}
.footer-copywright {
  text-align: center;
}

.footer-body {
  z-index: 1;
  text-align: center ;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center ;
  }

  .footer-body {
    text-align: center ;
  }
}

.footer h3 {
  font-size: 1em;
  color: white ;
  margin-top: 0.5em ;
  margin-bottom: 0.5em ;
}
.footer-icons {
  margin-top: 0.5em ;
  margin-bottom: 0.5em ;
  padding: 0 ;
}



.project-section {
  position: relative ;
  padding-top: 150px;
  padding-bottom: 30px ;
  
}

.project-card {
  padding-top: 50px ;
  padding-bottom: 50px ;
  padding-left: 25px ;
  padding-right: 25px ;
  height: auto ;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgb(211, 207, 207) ;
  color: black ;
  background-color: transparent ;
  opacity: 0.9 ;
  transition: all 0.5s ease 0s ;
  height: 100% ;
}
.project-card-view:hover {
  transform: scale(1.02) ;
  overflow: hidden ;
  box-shadow: 0 4px 4px 5px rgb(211, 207, 207) ;
}







.btn-primary {
  color: black !important;
  background-color: white !important;
  border-color: teal !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: teal !important;
  border-color: teal ;
}
.btn:focus {
  outline: none ;
  box-shadow: none;
}
.project-heading {
  color: black ;
  font-size: 2.3em ;
  font-weight: 500 ;
  padding-top: 10px ;
}



.about-section {
  position: relative ;
  padding-top: 150px ;
  padding-bottom: 30px ;
 
  color: black ;
}

.tech-icons {
  font-size: 4.5em ;
  margin: 15px ;
  padding: 10px ;
  opacity: 0.93 ;
  border: 1.7px solid teal ;
  vertical-align: middle ;
  text-align: center ;
  border-radius: 5px;
  display: table ;
  box-shadow: 4px 5px 4px 3px rgba(7, 143, 167, 0.137) ;
  overflow: hidden ;
  transition: all 0.4s ease 0s ;
  
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px ;
  }
}

.tech-icons:hover {
  transform: scale(1.05) ;
  overflow: hidden ;
 
}
.tech-icon-images {
  padding: 20px ;
  line-height: 1.6 ;
}



/* .about-activity {
  list-style: none ;
  text-align: left ;
  padding-left: 1px ;
} */

@media (max-width: 767px) {
  .about-img {
    padding-top: 0;
  }
}


.resume-section {
  position: relative ;
  padding-top: 110px ;
  padding-bottom: 30px;
 
  color: black ;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px ;
}

.resume-right {
  padding-left: 80px ;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px ;
    padding-left: 15px ;
  }

  .resume-right {
    padding-right: 15px ;
    padding-left: 15px ;
  }
}









.personal-details{
 
  display: flex;
  justify-content: center;
  gap: 20px;
 
  text-decoration: none;
  color: black;
}

.contsec{
  width: 80%;
  margin: auto;
}

@media (max-width: 500px) {

 .contsec{
  width: 70%;
  margin: auto;
  
 }

  .personal-details{
    font-size: 15px;
    gap: 10px;
  }

  



}

@media (min-width:500px) and  (max-width: 767px) {

   .personal-details{
    font-size: 20px;
  }

 


}
.contacts-body{
  
  width: 40%;
  margin: auto;
  margin-top: 50px;
}
 
.resbut>a{
  color:black
}

.resbut:hover >a{
  color:white
}

